*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  padding: 60px;
  font-size: 1.3rem;
}
input{
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}
.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  padding: 10px;

}
.card p{
  padding: 6px;
  text-align: center;
}
.card img{
  max-height: 270px;
  max-width: 100%;

}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
/* .menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
} */

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
/* .scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
}

.card {
  flex: 0 0 auto;
  max-height: 270px;
  max-width: 100%;
} */